
<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>

<div class='tbody'>
      <tr>

        <td><%= @food_item.description %></td>
        <td><%= image_tag @food_item.image_url, size: '600x600' %></td>
        
      </tr>
      <tr>
      <td><%= link_to 'Back', menu_path %> </td>
        
      </tr>

  </div>
  
  

</table>
